<?php

$configuration = [
    'targetprocess_url' => '',
    'targetprocess_username' => '',
    'targetprocess_password' => '',
    'aws_ses_sender_address' => '',
    'logo_url' => '',
    'mail_header' => 'Hello,
    Here the new changelog for the completed deployment.',
    'skipUser' => []
];
